@charset "utf-8";

/* 全体の設定 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ヘッダーのスタイル */
header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0px;
}

.header-left{
    color:#777;
    margin:0px 75px;
}


.header-right {
    color: #fff;
    background-color: #6ba7eb;
    padding: 10px 15px;
    margin:0px 60px;
    font-size:12px;
    transition: background-color 0.3s ease;
}

.header-right:hover{
    background-color:#333;
}

/* メインタイトルのスタイル */
.keyvisual{
    background-image:url(../images/keyvisual/keyvisual.jpg);
    background-size:cover;
    text-align:center;
    padding:400px 0px;
}

h1{
    font-size:65px;
    font-weight:700;
    color:#6ba7eb;
    margin:0px 0px 30px 0px;
}

.sub-title{
    font-size:40px;
    font-weight:700;
    color:#fff;
}

/* 「NEWS」部分のスタイル */
.news{
    background-color:#e3f2fd;
    padding:50px 0px 0px 0px;
}

.inner{
    display:flex;
}

.news-header{
    width:40%;
}

.news-icon{
    width:250px;
    float:right;
    margin-right:50px;
}

.news-content{
    width:60%
}

.news-title{
    text-align:center;
    margin-top:20px;
    margin-bottom:35px;
    font-size: 40px;
    letter-spacing:10px;
}

.news-text{
    text-align:center;
    font-size:15px;
    line-height:18px;
    word-break: break-all;
    margin:0px 50px 20px 0px;
}

/* 「SKILLS」部分のスタイル */
.skills{
    background-color:#fff;
    padding-top:50px;
}

.skills-title{
    text-align:center;
    margin-bottom:35px;
    font-size: 40px;
    letter-spacing:10px;
}
.skill-icon{
    display:flex;
    flex-wrap:wrap;
    gap:100px;
    justify-content: center;
    margin-bottom:50px;
}

.skill-icon img{
    width:300px;
    height:300px;
    object-fit:contain;
    opacity:0.7;
}

.skill-icon img:hover{
    opacity:1.0;
}
/* 「SELECT PLAN」部分のスタイル */
.plan{
    background-color:#d0dfea;
    padding:50px 0px;
}

.plan-title{
    text-align:center;
    margin-bottom:50px;
    font-size: 40px;
    letter-spacing:10px;
}

.plan-table{
    width:80%;
    margin:0px auto;
}

.plan-table thead th{
    padding: 10px;
    text-align: center;
    background-color: #6ba7eb;
    font-size: 16px;
    line-height: 26px;
    border-left: 2px solid #fff;
    color: #000; 
}

.plan-table thead th:first-child {
  border-left: none;
}

/* 左端の見出しのスタイル */
.plan-table tbody th {
  font-weight: bold;
  text-align: left;
}

/* レコードの行の背景色を交互に設定 */
.plan-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* 奇数行の背景色 */
}

.plan-table tbody tr:nth-child(even) {
  background-color: #e0efff; /* 偶数行の背景色 */
}

.plan-table tbody td,
.plan-table tbody th {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  text-align:center;
}

/* iconが並んでいる部分のスタイル */
.sns{
    background-color:#e3f2fd;
    padding-top:200px;
    padding-bottom:200px;
    
}

.sns-icon{
    display:flex;
    justify-content:center;
    gap:10px;
}

.sns-icon i{
    width:185px;
    margin:25px 0px;
    color:#8c8c8c;
    overflow:hidden;
    font-size:40px;
    text-align:center;
    transition: background-color 0.5s ease;
}

.sns-icon i:hover{
    background-color:#fff;
}

/* フッターのスタイル */
footer{
    background-color:#cfd8dc;
    color:#575859;
    padding:25px 60px;
    text-align:right;
    font-size:13px;
    letter-spacing:0.5px;
}