.red{
    position: relative;
    width:400px;
    height:100px;
    background:#f00;
}

.top-white{
    position: absolute;
    top:20px;
    right:20px;
    background: #fff;
    padding-top:20px;
    }

.Purple1{
    display:flex;
    
}

.purple{
    width:40px;
    height:40px;
    background:#6729a0;
    margin-left:10px;
    position:relative;
    bottom:10px;
}

.right{
    margin-right:10px;
}

.middle{
    display:flex;
}

.green{
    width:150px;
    height:250px;
    background:#0a5;;
}

.blue{
    position: relative;
    width:250px;
    height:250px;
    background:#2563eb;
}

.all-orange{
    margin-top: 50px;
    margin-left:40px;
}

.middle-white{
    position:relative;
    bottom:10px;
    width:140px;
    height:40px;
    background:#fff;
    padding:5px;
    margin-bottom:10px;
}

.orange{
    width:140px;
    height:40px;
    background: #ff863f;
    
}

.yellow{
    width:400px;
    height:100px;
    background:#fd0;
}